<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zroślin produkty</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
    <%- include('partials/header') %>

    <main class="w-0 py-0">

        <% if (typeof loginValidationMessage !== 'undefined') { %>
            <p><%= loginValidationMessage %></p>
        <% } %>

        <form class="form-0" method="POST" action="/logowanie">
            <div class="relative">
                <input id="username-input" class="input-0" type="text" name="username" autocomplete="off"
                    placeholder=" " required>
                <label for="username-input" class="input-label-0">Nazwa użytkownika</label>
            </div>

            <div class="relative">
                <input id="password-input" class="input-0" type="password" name="password" autocomplete="off"
                    placeholder=" " required>
                <label for="password-input" class="input-label-0">Hasło</label>
                
            </div>
            <button type="submit" class="btn-0">Zaloguj się</button>
        </form>

        <span>Pierwszy raz na Zroślin? <a href="/rejestracja">Załóż konto</a>.</span>
    </main>

    <%- include('partials/footer') %>
</body>

</html>