<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zroślin</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

</head>

<body>
    <%- include('partials/header') %>

    <main class="w-0 py-0">
        <h1>Sklep Zroślin</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis possimus voluptatum doloribus aliquam aut
            nulla illo quidem architecto exercitationem quibusdam harum est eius ab, consequuntur labore, facere
            reprehenderit eum voluptates!</p>

        <form class="relative w-1" method="GET" action="/products">
            <input id="search-input" class="input-0" type="text" name="q" autocomplete="off" placeholder=" ">
            <label for="search-input" class="input-label-0">Szukaj produktów</label>
            <div class="absolute flex-center input-icon">
                <%- include('partials/svg/search') %>
            </div>
        </form>

        <p>lub <a href="/produkty">przglądaj wszysktie</a></p>


        <div class="nice-input-container">
            <input class="nice-input" type="text">
            <label for="" class="nice-input-label">Imię</label>
        </div>

        <div class="nice-box">
            <p>Marcin Najman</p>
            <p>adres tutej</p>
            <p>druga linia adresu...</p>
        </div>

    </main>

    <%- include('partials/footer') %>
</body>

</html>