<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zroślin - regulamin</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
    <%- include('partials/header') %>

        <main class="w-0 py-1" style="font-size: 14px;">


            <h2>I. Postanowienia ogólne</h2>

            <ol>
                <li>
                    <strong>Definicje</strong>
                    <ul>
                        <li>Sklep internetowy - strona internetowa dostępna pod adresem "koks.store", prowadzona
                            przez Filip Kowalewski, umożliwiająca dokonywanie zakupów przez Internet.</li>
                        <li>Klient - osoba fizyczna, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości
                            prawnej,
                            korzystająca z usług Sklepu Internetowego.</li>
                        <li>Towar - produkt oferowany do sprzedaży w Sklepie Internetowym.</li>
                        <li>Umowa - umowa sprzedaży zawierana między Sklepem Internetowym a Klientem.</li>
                    </ul>
                </li>

                <li>
                    <strong>Dane właściciela</strong>
                    <ul>
                        <li>Filip Kowalewski</li>
                        <li>Adres e-mail: kontakt@filipkowalewski.com</li>
                        <li>Numer telefonu: 883487156</li>
                    </ul>
                </li>

                <li>
                    <strong>Zakres obowiązywania</strong>
                    <ul>
                        <li>Niniejszy regulamin określa warunki korzystania ze Sklepu Internetowego oraz zawierania Umów
                            sprzedaży.
                        </li>
                        <li>Sklep Internetowy prowadzi sprzedaż na terenie Polski.</li>
                    </ul>
                </li>
            </ol>

            <h2>II. Składanie zamówień</h2>

            <ol>
                <li>
                    <strong>Warunki zamówienia</strong>
                    <ul>
                        <li>Aby złożyć zamówienie w Sklepie Internetowym, Klient musi być zarejestrowany lub dokonać
                            zakupu
                            jako
                            gość.</li>
                        <li>Zamówienie może być składane poprzez stronę internetową Sklepu.</li>
                    </ul>
                </li>

                <li>
                    <strong>Potwierdzenie zamówienia</strong>
                    <ul>
                        <li>Po złożeniu zamówienia, Klient otrzyma automatyczne potwierdzenie przyjęcia zamówienia na
                            podany
                            adres
                            e-mail.</li>
                        <li>Potwierdzenie zamówienia nie stanowi akceptacji oferty, lecz informuje o jego otrzymaniu.
                        </li>
                    </ul>
                </li>

                <li>
                    <strong>Realizacja zamówienia</strong>
                    <ul>
                        <li>Sklep Internetowy zobowiązuje się do realizacji zamówienia w możliwie najkrótszym terminie.
                        </li>
                        <li>W przypadku niemożności realizacji zamówienia, Klient zostanie poinformowany o przyczynach
                            opóźnienia.
                        </li>
                    </ul>
                </li>
            </ol>

            <h2>III. Ceny i Płatności</h2>

            <ol>
                <li>
                    <strong>Ceny</strong>
                    <ul>
                        <li>Wszystkie ceny towarów w Sklepie Internetowym podane są w polskich złotych (PLN) i zawierają
                            podatek
                            VAT.</li>
                        <li>Sklep Internetowy zastrzega sobie prawo do zmiany cen towarów, wprowadzania nowych produktów
                            do
                            oferty,
                            przeprowadzania i odwoływania akcji promocyjnych w Sklepie Internetowym lub wprowadzania
                            innych
                            zmian w
                            ofercie.</li>
                    </ul>
                </li>

                <li>
                    <strong>Płatności</strong>
                    <ul>
                        <li>Klient może dokonać płatności za zamówienie poprzez dostępne w Sklepie Internetowym metody
                            płatności,
                            takie jak karta płatnicza, przelew bankowy itp.</li>
                        <li>Zamówienie uznaje się za opłacone po zaksięgowaniu należności na koncie Sklepu
                            Internetowego.
                        </li>
                    </ul>
                </li>
            </ol>

            <h2>IV. Postanowienia Końcowe</h2>

            <ol>
                <li>
                    <strong>Ochrona danych osobowych</strong>
                    <ul>
                        <li>Administratorem danych osobowych Klientów jest [Imię i nazwisko właściciela] z siedzibą w
                            [Adres
                            właściciela].</li>
                        <li>Dane osobowe Klientów są przetwarzane zgodnie z obowiązującymi przepisami prawa, a Klient ma
                            prawo
                            dostępu do swoich danych oraz ich poprawiania.</li>
                    </ul>
                </li>

                <li>
                    <strong>Prawo zwrotu towaru</strong>
                    <ul>
                        <li>Klient ma prawo odstąpić od umowy w ciągu 14 dni od daty otrzymania towaru, zgodnie z
                            obowiązującymi
                            przepisami prawa.</li>
                    </ul>
                </li>

                <li>
                    <strong>Reklamacje</strong>
                    <ul>
                        <li>W przypadku wystąpienia wady towaru, Klient może składać reklamacje zgodnie z obowiązującymi
                            przepisami
                            prawa.</li>
                    </ul>
                </li>

                <li>
                    <strong>Rozstrzyganie sporów</strong>
                    <ul>
                        <li>Wszelkie spory między Sklepem Internetowym a Klientem rozstrzygane będą przez sąd właściwy
                            dla
                            siedziby
                            Sklepu Internetowego.</li>
                    </ul>
                </li>

                <li>
                    <strong>Zmiany w regulaminie</strong>
                    <ul>
                        <li>Sklep Internetowy zastrzega sobie prawo do wprowadzania zmian w regulaminie. Zmiany wchodzą
                            w
                            życie od
                            daty ich opublikowania na stronie internetowej Sklepu.</li>
                    </ul>
                </li>

                <li>
                    <strong>Kontakt</strong>
                    <ul>
                        <li>W sprawach związanych z funkcjonowaniem Sklepu Internetowego, Klient może kontaktować się za
                            pomocą
                            danych podanych w sekcji "Dane właściciela".</li>
                    </ul>
                </li>
            </ol>

        </main>


        <%- include('partials/footer') %>
</body>

</html>