<footer>
    <nav class="w-0 py-0">
        <ul class="ul-0">
            <li><a href="/kontakt">kontakt</a></li>
            <li><a href="/regulamin-sklepu">regulamin sklepu</a></li>
        </ul>
    </nav>
</footer>